* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #6e1a03;
}

.main-container {
  width: 100%;
  height: 350px;
  background: #022866;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  width: 150px;
  height: 350px;
  background: #07718f;
  position: relative;
  overflow: hidden;
}

.social .left {
  width: 100%;
  height: 350px;
  background: #0489c7;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  color: #fff;
  top: 0;
  left: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.social .right {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  right: -100%;
  font-size: 90px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.social:hover .left {
  left: -100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.social:hover .right {
  right: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.block-info {
  width: 0px;
  height: 350px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.block-info .block-header {
  font-size: 50px;
  margin-bottom: 30px;
}

.block-info .block-footer {
  width: 400px;
}

.container:hover .block-info {
  width: 450px;
  padding-left: 20px;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.twitter-right {
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#6dd5ed), to(#2193b0));
  background: linear-gradient(to bottom, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.facebook-right {
  background: #373B44;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#4286f4), to(#373B44));
  background: linear-gradient(to bottom, #4286f4, #373B44);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.linkedin-right {
  background: #7F7FD5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#91EAE4), color-stop(#86A8E7), to(#7F7FD5));
  background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.instagram-right {
  background: #11998e;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#38ef7d), to(#11998e));
  background: linear-gradient(to bottom, #38ef7d, #11998e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.youtube-right {
  background: #FF416C;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4B2B), to(#FF416C));
  background: linear-gradient(to bottom, #FF4B2B, #FF416C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tumblr-right {
  background: #141E30;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#243B55), to(#141E30));
  background: linear-gradient(to bottom, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dribbble-right {
  background: #f953c6;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b91d73), to(#f953c6));
  background: linear-gradient(to right, #b91d73, #f953c6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*# sourceMappingURL=main.css.map */